/* VARIABLES */
:root {
  --pink: #ff5d5d;
  --grey: #333333;
  --font-trip-sans-medium: "Trip Sans Medium";
  --font-trip-sans-regular: "Trip Sans Regular";
  --body-background-color: white;
  --footer-background-color: #faf1ed;
}

/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--font-trip-sans-medium);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* TITLES  */

h1 {
  color: black;
  font-size: 54px;
  font-weight: 900;
}

h2 {
  color: black;
  font-size: 28px;
  font-weight: 900;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.container-header {
  display: flex;
  justify-content: space-around;
  width: 1140px;
  margin: 0 auto;
  background-color: white;
}

header img {
  width: 188px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

header nav span {
  padding: 15px;
  color: black;
}

.header-link:link {
  text-decoration: none;
}

.header-link:visited {
  color: black;
}

.header-items {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 20px;
}

.header-items:hover {
  background-color: lightgrey;
}

.a-button {
  background-color: black;
  margin-left: 10px;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 35px;
  border: none;
  padding: 15px;
}

header button:hover {
  cursor: pointer;
}

/* MAIN */

.above-img {
  padding-top: 132px;
  padding-bottom: 24px;
}

main h1 {
  line-height: 65px;
}

h1 span {
  color: var(--pink);
  font-weight: 900;
}

.baseline {
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
  color: var(--grey);
  margin-top: 8px;
  margin-bottom: 32px;
}

main div .baseline a:visited {
  color: var(--grey);
}

main nav {
  display: flex;
  margin-bottom: 30px;
}

.secondary-nav {
  display: flex;
  gap: 10px;
}

.secondary-nav .hidden {
  display: none;
}

.secondary-nav div {
  flex: 1;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 15px;
  border: 1px solid black;
  height: 68px;
  /* margin-right: 10px; */
  border-radius: 10px;
  justify-content: space-between;
}

.menu i {
  display: flex;
  margin-left: auto;
}

.menu-link:link {
  text-decoration: none;
}

.menu-link:visited {
  color: black;
}

.menu:hover {
  background-color: black;
  color: white;
}

.img {
  display: flex;
  height: 400px;
  gap: 2px;
}

.img .img-left {
  flex: 4;
  background-image: url("../img/img1.jpg");
  background-size: cover;
  background-position: center;
}

.img .img-right {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 2px;

  object-fit: cover;
}
.img .img-top-right {
  flex: 1;
  background-image: url("../img/img2.jpg");
}
.img .img-bottom-right {
  flex: 1;
  background-image: url("../img/img3.jpg");
}

.path {
  display: flex;
  justify-content: space-between;
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--grey);
  font-size: 12px;
}

.path-link {
  text-decoration: none;
}

.path-link:visited {
  color: var(--grey);
}

.details {
  display: flex;
  flex-direction: column;
  /* width: 560px; */
  padding-top: 18px;
}

.details h2 {
  line-height: 34px;
  margin-bottom: 16px;
}

.details div {
  display: flex;
}
.details p {
  color: var(--grey);
  font-family: var(--font-trip-sans-regular);
  font-size: 20px;
  flex: 0.5;
}

/* SECTION MUST SEE */

.must-see {
  margin-top: 80px;
  margin-bottom: 200px;
}

.must-see-col {
  display: flex;
  margin-top: 35px;
  margin-bottom: 80px;
}

.must-see-col-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.must-see-col-right {
  display: flex;
  flex: 3;
  overflow-x: scroll;
}

.must-see-col-left-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.must-see-col-left-details {
  font-size: 18px;
  font-family: var(--font-trip-sans-regular);
  margin-bottom: 15px;
}
.must-see-col-left-link {
  font-size: 16px;
  font-family: var(--font-trip-sans-regular);
  margin-bottom: 7px;
  text-decoration: underline;
}

/* POUR MASQUER LA SCROLLBAR */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.must-see-carroussel {
  display: flex;
  gap: 15px;
}

.must-see-carroussel-item {
  background-color: white;
  width: 270px;

  position: relative;
}

.must-see-carroussel-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.traveller-choice {
  width: 35px;
  height: 50px;
  background-color: #f2b203;
  background-image: url(../img/TC_LL.svg);
  position: absolute;
  top: 45%;
  left: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.like-button {
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: url(../img/heart.png);
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.must-see-carroussel-title {
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.must-see-carroussel-reviews {
  font-size: 12px;
  line-height: 22px;
}
.must-see-carroussel-description {
  font-size: 14px;
  line-height: 22px;
  font-family: var(--font-trip-sans-regular);
}

/* FOOTER */

.footer {
  display: flex;
  background-color: var(--footer-background-color);
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 10px;
  font-weight: var(--font-trip-sans-regular);
}

.footer span {
  font-weight: var(--font-trip-sans-medium);
}

/* MEDIA */

@media (max-width: 1184px) {
  body {
    background-color: lavender;
  }
  .secondary-nav {
    flex-wrap: wrap;
  }

  .secondary-nav div {
    flex: none;
    flex-wrap: wrap;
  }
  .row {
    width: 24.125%;
  }

  .img {
    height: 350px;
  }
}

@media (max-width: 1024px) {
  body {
    background-color: lightpink;
  }

  .hidden {
    display: none;
  }

  .container-header nav {
    background-color: yellow;
    width: 30%;
  }

  .header-items {
    background-color: red;
    width: 100%;
  }
  .a-button {
    width: 145px;
    margin-left: 10px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 35px;
    border: none;
    padding: 15px;
  }
}
