/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Trip Sans";
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* TITLES  */

h1 {
  color: black;
  font-size: 54px;
  font-weight: 900;
}

h2 {
  color: black;
  font-size: 28px;
  font-weight: 900;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header {
  margin-top: 100px;
}

header img {
  width: 188px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

header nav span {
  padding: 15px;
  color: black;
}

.header-link:link {
  text-decoration: none;
}

.header-link:visited {
  color: black;
}

.header-items {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  /* background-color: red; */
}

.header-items:hover {
  background-color: lightgrey;
}

header button {
  margin-left: 10px;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 35px;
  border: none;
  padding: 15px;
}

header button:hover {
  cursor: pointer;
}

/* MAIN */

.above-img {
  padding-top: 32px;
  padding-bottom: 24px;
}

main h1 {
  line-height: 65px;
}

h1 span {
  color: #ff5d5d;
  font-weight: 900;
}

.baseline {
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 32px;
}

main div .baseline a:visited {
  color: #333333;
}

main nav {
  display: flex;
  margin-bottom: 30px;
}

.secondary-nav {
  display: flex;
  gap: 10px;
}

.secondary-nav div {
  flex: 1;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 15px;
  border: 1px solid black;
  height: 68px;
  /* margin-right: 10px; */
  border-radius: 10px;
  justify-content: space-between;
}

.menu i {
  display: flex;
  margin-left: auto;
}

.menu-link:link {
  text-decoration: none;
}

.menu-link:visited {
  color: black;
}

.menu:hover {
  background-color: black;
  color: white;
}

.img {
  display: flex;
  height: 400px;
  gap: 2px;
}

.img .img-left {
  flex: 4;
  background-image: url("../img/img1.jpg");
  background-size: cover;
  background-position: center;
}

.img .img-right {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 2px;

  object-fit: cover;
}
.img .img-top-right {
  flex: 1;
  background-image: url("../img/img2.jpg");
}
.img .img-bottom-right {
  flex: 1;
  background-image: url("../img/img3.jpg");
}

.path {
  display: flex;
  justify-content: space-between;
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333333;
  font-size: 12px;
}

.path-link {
  text-decoration: none;
}

.path-link:visited {
  color: #333333;
}

.details {
  display: flex;
  flex-direction: column;
  /* width: 560px; */
  padding-top: 18px;
}

.details h2 {
  line-height: 34px;
  margin-bottom: 16px;
}

.details div {
  display: flex;
}
.details p {
  color: #333333;
  background-color: #ff5d5d;
  font: Arial;
  font-size: 20px;
  flex: 0.5;
}
